<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EmailVerification.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9518BEE41E8443F7004C902A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9518BEF81E8443F8004C902A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9518BF031E8443F8004C902A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
